# needed for pnpm to not fail scripts (e.g. install, build) etc. when packageManager
# version in package.json is no exactly matching but still compatible (e.g. require 9.0.6 but is 9.1.0)
package-manager-strict=false
